.container {
    width:1300px;
    margin:auto;
}

.logoSize {
    width:200px;
    height:110px;
}

.avaSize {
    width:250px;
    height:150px;
}

.personalInfo {
    width:25%;
    height:850px;
    overflow:auto;
    float:left;
    background-color: #808080;
    color: #FFFFFF;
}

.commonInformation {
    width:60%;
    height:850px;
    overflow:auto;
    background-color: #C0C0C0;
}

.textPadding {
    padding-left: 20px;
}

.headStyle {
    margin: auto;
}