.container{
    width:1300px;
    margin:auto;
}

.logoSize{
    width:200px;
    height:110px;
}

.avaSize{
    width:250px;
    height:150px;
}

.block-left{
    width:25%;
    height:650px;
    overflow:auto;
    float:left;
    background-color: #808080;
    color: #FFFFFF;
}

.block-right{
    width:60%;
    height:650px;
    overflow:auto;
    background-color: #C0C0C0;
}

.textPadding{
    padding-left: 20px;
}